<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link href="https://wapcdn.thecover.cn/fengmianhao/1.0.0/styles/normalize_bootstrap_material_dialog_v0816.css" rel="stylesheet" type="text/css">
    <style>
        #content {
            margin-top: 0px !important;
            padding: 0;
            border-radius: 5px
        }
    </style>
    <link type="text/css" rel="stylesheet" href="./styles/all.css">
    <link type="text/css" rel="stylesheet" href="./styles/numbers.css">
</head>

<body>
<div id="main" class="transparent">
    <div class="data-block-container">
        <div class="data-block" style="background-color: rgb(72,195,211)">
            <h3>总订阅</h3>
            <div class="num-with-img">
                <img src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/icon_subscription.png">
                <span>{{data_of_page.userActionData.amountTotal}}</span>
            </div>
        </div>
        <div class="data-block" style="background-color: rgb(98,203,196)">
            <h3>昨日新增订阅</h3>
            <div class="num-with-img">
                <img src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/icon_new_subscription.png">
                <span>{{data_of_page.userActionData.amountAdd}}</span>
            </div>
        </div>
        <div class="data-block" style="background-color: rgb(98,204,164)">
            <h3>总浏览量</h3>
            <div class="num-with-img">
                <img src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/icon_total_read.png">
                <span>{{data_of_page.userActionData.reviewTotal}}</span>
            </div>
        </div>
    </div>
    <header>
        <h1>
            <span style="padding: 0 10px;">每日新增订阅</span>
          <span style="padding: 0 10px; font-size: 14px; color: rgb(164, 164, 164); border-left: 1px solid rgb(164, 164, 164);">
                只含一个月内的数据
            </span>
            <div class="wrapper-of-toggle-btns" v-on:click.stop="toggleViewMode($event)">
                <span v-bind:class="{'active': view_mode === 'chart'}">图表</span>
                <span class="table-list" v-bind:class="{'active': view_mode === 'list'}">列表</span>
            </div>
        </h1>
    </header>
    <div class="container-dailyStatistics">
        <div id="chart_container" class="chart-container" v-show="view_mode === 'chart'">
            
        </div>
        <div class="table-container" v-show="view_mode === 'list'">
            <table class="table table-hover table-striped" id="dailyStatistics">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>新增订阅数</th>
                    <th>取消订阅数</th>
                    <th>累计订阅用户数</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in data_of_page.dailyStatistics">
                    <td class="col-of-title">{{item.dateStr}}</td>
                    <td class="col-of-date right-align">{{item.amountAdd}}</td>
                    <td class="col-of-date right-align">{{item.amountCancel}}</td>
                    <td class="col-of-date right-align">{{item.amountTotal}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <header style="margin-top: 20px;">
        <h1>
            <span style="padding: 0 10px;">文章阅读量</span>
        </h1>
    </header>
    <div class="container-table-news">
        <div class="table-container">
            <table class="table table-hover table-striped" id="news">
                <thead>
                <tr>
                    <th>文章标题</th>
                    <th>发布时间</th>
                    <th>阅读量</th>
                    <th>评论</th>
                    <th>点赞</th>
                    <th>转发</th>
                    <th>收藏</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in data_of_page.news.pageList">
                    <td class="col-of-title">{{item.title}}</td>
                    <td class="col-of-date right-align">{{item.datePublish}}</td>
                    <td class="col-of-date right-align">{{item.reviewCount}}</td>
                    <td class="col-of-date right-align">{{item.replyCount}}</td>
                    <td class="col-of-date right-align">{{item.praiseCount}}</td>
                    <td class="col-of-date right-align">{{item.forwardCount}}</td>
                    <td class="col-of-date right-align">{{item.collectCount}}</td>
                </tr>
                </tbody>
            </table>
            <div id="pagination_news">
                <ul class="pagination pagination-sm" v-if="pages_num === 2">
                    <li class="index"
                        v-bind:class="{'active': curr_page_of_user_news === 1}"
                        v-on:click="pagenation($event)">
                        <a href="javascript:void(0)">1</a>
                    </li>
                    <li class="index"
                        v-bind:class="{'active': curr_page_of_user_news === 2}"
                        v-on:click="pagenation($event)">
                        <a href="javascript:void(0)">2</a>
                    </li>
                </ul>
                <!---->
                <ul class="pagination pagination-sm" v-if="pages_num === 3">
                    <li class="index"
                        v-bind:class="{'active': curr_page_of_user_news === 1}"
                        v-on:click="pagenation($event)">
                        <a href="javascript:void(0)">1</a>
                    </li>
                    <li class="index"
                        v-bind:class="{'active': curr_page_of_user_news === 2}"
                        v-on:click="pagenation($event)">
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li class="index"
                        v-bind:class="{'active': curr_page_of_user_news === 3}"
                        v-on:click="pagenation($event)">
                        <a href="javascript:void(0)">3</a>
                    </li>
                </ul>
                <!---->
                <ul class="pagination pagination-sm" v-if="pages_num > 3">
                    <li class="prev"
                        v-on:click="pagenation($event)"
                        v-bind:class="{'disabled': curr_page_of_user_news === 1}">
                        <a href="javascript:void(0)">«</a>
                    </li>
                    <li class="index"
                        v-on:click="pagenation($event)"
                        v-bind:class="{'active': curr_page_of_user_news === 1}">
                        <a href="javascript:void(0)">1</a>
                    </li>
                    <li class="index"
                        v-if="pages_num > 5"
                        v-on:click="pagenation($event)"
                        v-bind:class="{'active': curr_page_of_user_news === 2}">
                        <a href="javascript:void(0)">2</a>
                    </li>
                    <li class="disabled" v-if="pages_num > 5 && curr_page_of_user_news > 3">
                        <a href="javascript:void(0)">...</a>
                    </li>
                    <li class="index active"
                        v-show="curr_page_of_user_news < pages_num - 1 && curr_page_of_user_news > 2"
                        v-on:click="pagenation($event)">
                        <a href="javascript:void(0)">{{curr_page_of_user_news}}</a>
                    </li>
                    <li class="disabled" v-if="pages_num > 5 && curr_page_of_user_news < pages_num - 2">
                        <a href="javascript:void(0)">...</a>
                    </li>
                    <li class="index"
                        v-if="pages_num > 5"
                        v-on:click="pagenation($event)"
                        v-bind:class="{'active': curr_page_of_user_news === pages_num - 1}">
                        <a href="javascript:void(0)">{{pages_num - 1}}</a>
                    </li>
                    <li class="index"
                        v-on:click="pagenation($event)"
                        v-bind:class="{'active': curr_page_of_user_news === pages_num}">
                        <a href="javascript:void(0)">{{pages_num}}</a>
                    </li>
                    <li class="next"
                        v-on:click="pagenation($event)"
                        v-bind:class="{'disabled': curr_page_of_user_news === pages_num}">
                        <a href="javascript:void(0)">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/scripts/jquery_bootstrap_material_bootstrapDialog_v0722.js"></script>
<script src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/scripts/libs_bluebird_vue_v0722.js"></script>
<script src="./scripts/helpers.js"></script>
<script src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/scripts/echarts.min_sep_16.js"></script>
<!--<script src="./scripts/numbers.js"></script>-->
<script type="text/javascript">
var numbers = new Vue({
    el: 'body',
    data: function () {
        return {
            data_of_page: {},
            view_mode: 'chart',
            curr_page_of_user_news: 1,
            page_size: 8,
            pages_num: 0
        }
    },
    methods: {
        getDailyStatistics: function () {
            console.log('getDailyStatistics()');
            return helpers.$post(helpers.apis().getDailyStatistics, {
//            return helpers.$get('http://170.240.110.245:9999/getDailyStatistics.json', {
                'data': JSON.stringify({})
            });
        },
        getUserNews: function () {
            console.log('getUserNews()');
            var self = this;
            return helpers.$post(helpers.apis().getUserNews, {
//            return helpers.$get('http://170.240.110.245:9999/getUserNews.json', {
                'data': JSON.stringify({
                    'page': self.curr_page_of_user_news,
                    'pageSize': self.page_size
                })
            });
        },
        toggleViewMode: function (evt) {
            var self = this;
            var $target = $(evt.target);
            if ($target.hasClass('active')) {
                return evt.preventDefault();
            }
            if (self.view_mode === 'chart') {
                return self.view_mode = 'list';
            } else {
                return self.view_mode = 'chart';
            }
        },
        drawChart: function (obj) {
            console.log('revealChart()');
            var chart_dailyStatistics = echarts.init(document.getElementById('chart_container'));
            var xAxis_data_arr = [];
            var series_data_amountAdd_arr = [];
            var series_data_amountCancel_arr = [];
            var series_data_amountTotal_arr = [];

            $.each(obj, function(idx, val) {
                xAxis_data_arr.push(val.dateStr);
                series_data_amountAdd_arr.push(val.amountAdd);
                series_data_amountCancel_arr.push(val.amountCancel);
                series_data_amountTotal_arr.push(val.amountTotal);
            });

            var data = {
                title: {
                    text: '趋势'
                },
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                legend: {
                    data:['新增订阅数', '取消订阅数', '累计订阅用户数']
                },
                grid: {
                    left: '2%',
                    right: '2%',
                    bottom: '2%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxis_data_arr
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name:'新增订阅数',
                        type:'line',
                        stack: '总量',
                        data:series_data_amountAdd_arr
                    },
                    {
                        name:'取消订阅数',
                        type:'line',
                        stack: '总量',
                        data:series_data_amountCancel_arr
                    },
                    {
                        name:'累计订阅用户数',
                        type:'line',
                        stack: '总量',
                        data:series_data_amountTotal_arr
                    }
                ]
            };
            chart_dailyStatistics.setOption(data);
        },
        pagenation: function (evt) {
            var self = this;
            var $target = $(evt.target);
            if($target.closest('li').hasClass('active') || $target.closest('li').hasClass('disabled')) {
                return evt.preventDefault();
            }
            if($target.closest('li').hasClass('prev')) {
                self.curr_page_of_user_news = Math.max(1, self.curr_page_of_user_news - 1);
            } else if ($target.closest('li').hasClass('next')) {
                self.curr_page_of_user_news = Math.min(self.pages_num, self.curr_page_of_user_news + 1);
            } else {
                self.curr_page_of_user_news = parseInt($target.text());
            }
            return self.getUserNews();
        }
    },
    created: function () {
        var self = this;
        var renderPage = function () {
            console.log('渲染页面()');
            return $.when(self.getDailyStatistics(), self.getUserNews()).done(function (v1, v2) {
                self.data_of_page = v1;
                self.data_of_page.news = v2.news;
                self.pages_num = Math.ceil(parseInt(self.data_of_page.news.allCapacity) / self.page_size);
                console.log('文章阅读量总页数: ', self.pages_num);
                self.drawChart(self.data_of_page.dailyStatistics);
                $('#main').removeClass('transparent');
            });
        };
        renderPage();
    }
});
</script>
</body>