<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <meta content="telephone=no,address=no,email=no" name="format-detection">
    <meta name="keyword" content="封面号,封面新闻,新闻app,封面,公众平台">
    <title>封面号|注册</title>
    <link href="https://wapcdn.thecover.cn/wap/1.0.0/img/favicon.png" rel="alternate icon" type="image/png">
    <link href="https://wapcdn.thecover.cn/wap/1.0.0/img/favicon.png" rel="apple-touch-icon-precomposed">
    <link href="https://wapcdn.thecover.cn/fengmianhao/1.0.0/styles/normalize_bootstrap_material_dialog_v0816.css" rel="stylesheet" type="text/css">
    <link href="./styles/all.css" rel="stylesheet" type="text/css">
    <link href="./styles/register_form.css" rel="stylesheet" type="text/css">
</head>

<body class="page-register-form" id="page_register_form">
<header class="header-of-page">
    <div><img src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/logo_inside_page.png"></div>
</header>
<div id="content">
    <div id="main">
        <header>
            <h1>申请入驻</h1></header>
        <div id="stage_indictor">
            <div class="line"></div>
            <div class="dots inactive" id="stage_one_dot">1</div>
            <div class="dots inactive" id="stage_two_dot">2</div>
            <div class="dots active" id="stage_three_dot">3</div>
        </div>
        <div class="stages" id="stage_three">
            <form id="stage_three_form" class="form-horizontal" v-on:change="validateForm()">
                <fieldset>
                    <legend>运营主体信息</legend>
                    <!--主体类型-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">主体类型:</label>
                        <div class="col-md-7">
                            <h4>{{type}}</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PersonName" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            运营者姓名:
                        </label>
                        <div class="col-md-7">
                            <input class="form-control is-required" data-inited="false" id="PersonName" maxlength="30" placeholder="请填写真实姓名" required type="text" v-model="data_of_form.PersonName" v-on:blur="validateInputLength($event, 2, 30)" v-on:focus="initInput($event)">
                            <span class="help-block" v-bind:class="{'input-error': validates.PersonName}">
                                请填写真实姓名,至少2个字符
                            </span>
                        </div>
                    </div>
                    <!--运营者证件号码-->
                    <div class="form-group">
                        <label for="PersonID" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            运营者证件号码:
                        </label>
                        <div class="col-md-7">
                            <input class="form-control is-required" id="PersonID" maxlength="18" placeholder="请正确填写18位身份证号码" required type="text" v-model="data_of_form.PersonID" v-on:blur="validateInputLength($event, 18, 18)" v-on:focus="initInput($event)">
                            <span class="help-block" v-bind:class="{'input-error': validates.PersonID}">
                                请正确填写18位身份证号码
                            </span>
                        </div>
                    </div>
                    <!--运营者持身份证照片-->
                    <div class="form-group" id="inputPersonIDPicture">
                        <label class="col-md-4 control-label required">
                            <em class="flag-required">*</em>
                            运营者持身份证照片:
                        </label>
                        <div class="col-md-7">
                            <div class="container-upload-img">
                                <img id="upImg-card" v-bind:src="data_of_form.PersonIDPicture">
                                <a id="btn_uploadImg" data-img-src="PersonIDPicture" data-dom="#upImg-card" href="javascript:void(0)" class="upload-img btn btn-raised btn-default">
                                    上传
                                </a>
                                <p class="tips-of-uploading">
                                    照片形式请参考
                                    <a target="_blank" href="https://wapcdn.thecover.cn/fengmianhao/1.0.0/example_woman_with_id_card.jpg">示例</a>
                                    进行拍摄
                                    <br>
                                    身份证上信息清晰可见,大小不超过5M
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--手机号码-->
                    <div class="form-group">
                        <label for="PersonPhoneNum" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            手机号码:
                        </label>
                        <div class="col-md-7">
                            <input class="form-control is-required" id="PersonPhoneNum" maxlength="11" required type="text" v-on:blur="validateInputLength($event, 8, 11)" v-on:focus="initInput($event)" v-model="data_of_form.PersonPhoneNum">
                            <span class="help-block" v-bind:class="{'input-error': validates.PersonPhoneNum}">必填</span>
                        </div>
                    </div>

                    <div class="form-group" v-if="ui_type == 1">
                        <label for="StuNo" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            学生证号:
                        </label>
                        <div class="col-md-7">
                            <input class="form-control is-required" id="StuNo" maxlength="18" required type="text" v-on:blur="validateInputLength($event, 5, 18)" v-on:focus="initInput($event)" v-model="data_of_form.StuNo">
                            <span class="help-block" v-bind:class="{'input-error': validates.StuNo}">必填</span>
                        </div>
                    </div>

                    <div class="form-group" v-if="ui_type == 1">
                        <label for="University" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            学校:
                        </label>
                        <div class="col-md-7">
                            <input class="form-control is-required" id="University" maxlength="50" required type="text" v-on:blur="validateInputLength($event, 4, 30)" v-on:focus="initInput($event)" v-model="data_of_form.University">
                            <span class="help-block" v-bind:class="{'input-error': validates.University}">必填</span>
                        </div>
                    </div>
                    <!--持学生证照片-->
                    <div class="form-group" v-if="ui_type == 1" id="inputStuPicture">
                        <label class="col-md-4 control-label required">
                            <em class="flag-required">*</em>
                            持学生证照片:
                        </label>
                        <div class="col-md-7">
                            <div class="container-upload-img">
                                <img id="upImg-stuinfo" v-bind:src="data_of_form.StuPicture">
                                <a href="javascript:void(0)" data-img-src="StuPicture" data-dom="#upImg-stuinfo" class="upload-img btn btn-raised btn-default">
                                    上传
                                </a>
                                <p class="tips-of-uploading">
                                    照片形式请参考
                                    <a target="_blank" href="https://wapcdn.thecover.cn/fengmianhao/1.0.0/example_woman_with_student_card.jpg">示例</a>
                                    进行拍摄
                                    <br>
                                    学生证上信息清晰可见,大小不超过2M
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>封面号主体信息</legend>
                    <!--封面号名称-->
                    <div class="form-group">
                        <label for="AccountName" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            封面号名称:
                        </label>
                        <div class="col-md-7">
                            <input class="form-control is-required" id="AccountName" maxlength="10" placeholder="2-10个字,勿使用包含特殊字符或营销意图的名称" required type="text" v-on:blur="validateInputLength($event, 2, 10)" v-on:focus="initInput($event)" v-model="data_of_form.AccountName">
                            <span class="help-block" v-bind:class="{'input-error': validates.AccountName}">
                                2-10个字,勿使用包含特殊字符或营销意图的名称
                            </span>
                        </div>
                    </div>
                    <!--封面号介绍-->
                    <div class="form-group">
                        <label for="AccountIntro" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            封面号介绍:
                        </label>
                        <div class="col-md-7">
                            <textarea class="form-control is-required" id="AccountIntro" maxlength="30" placeholder="10-30个字,要求内容完整通顺,无特殊字符,请勿添加任何联系方式如微博、手机号、QQ" required rows="3" type="text" v-on:blur="validateInputLength($event, 10, 30)" v-on:focus="initInput($event)" v-model="data_of_form.AccountIntro">
                            </textarea>
                            <span class="help-block" v-bind:class="{'input-error': validates.AccountIntro}">
                                10-30个字,请勿添加任何联系方式如微博、手机号、QQ
                            </span>
                        </div>
                    </div>
                    <!--封面号头像-->
                    <div class="form-group" id="AvatarPicture">
                        <label class="col-md-4 control-label required">
                            <em class="flag-required">*</em>
                            封面号头像:
                        </label>
                        <div class="col-md-7">
                            <div class="container-upload-img">
                                <img id="upImg-icon" class="avatar" v-bind:src="data_of_form.AvatarPicture">
                                <a class="upload-img btn btn-raised btn-default" data-dom="#upImg-icon" data-img-src="AvatarPicture" data-minheight="200" data-minwidth="200" data-ratio="1/1" href="javascript:void(0)">
                                   上传
                                </a>
                                <p class="tips-of-uploading avatar">
                                    要求清晰、健康、代表自媒体形象
                                    <br>
                                    请勿使用二维码,最大5M
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--封面号背景图-->
                    <div class="form-group" id="BackgroundImageOfAccount">
                        <label class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            封面号背景图:
                        </label>
                        <div class="col-md-7">
                            <div class="container-upload-img">
                                <img id="upImg-bg" v-bind:src="data_of_form.BackgroundImageOfAccount">
                                <a class="upload-img btn btn-raised btn-default" data-dom="#upImg-bg" data-img-src="BackgroundImageOfAccount" data-minheight="215" data-minwidth="300" data-ratio="621/445" href="javascript:void(0)">
                                   上传
                                </a>
                                <p class="tips-of-uploading">
                                    符合封面号风格
                                    <br>
                                    效果可参考
                                    <a target="_blank" href="https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/instructions_uploaded_bg.jpg">示例</a>
                                    <br>
                                    请勿使用二维码,最大5M
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--封面号关键词-->
                    <div class="form-group">
                        <div class="col-md-12" id="label_area">
                            <div class="col-md-4"></div>
                            <div class="col-md-7">
                                <div class="label-of-account" data-label-id="{{index}}" v-for="(index, label) in data_of_form.AccountLabel">
                                     {{label}}
                                    <em class="close-btn-of-label" data-label-id="{{index}}" v-on:click="rmLabel($event)">
                                    </em>
                                </div>
                            </div>
                        </div>
                        <label class="control-label col-md-4" for="AccountKeywords">
                            <em class="flag-required">*</em>
                            封面号关键词:
                        </label>
                        <div class="input-group col-md-7">
                            <input class="form-control" id="AccountKeywords" maxlength="5" placeholder="关键词在搜索结果中展示,不超过3个" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-raised" type="button" v-on:click="addLabel($event)" v-show="data_of_form.AccountLabel.length !== 3">
                                    + 添加
                                </button>
                            </span>
                        </div>
                    </div>
                    <!--封面号领域-->
                    <div class="form-group">
                        <label for="AccountChannel" class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            封面号领域:
                        </label>
                        <div class="col-md-7">
                            <select class="form-control" id="AccountChannel" v-model="data_of_form.AccountChannel">
                                <option v-bind:value="option.id" v-for="option in list_of_channels">
                                        {{option.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--所在地-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            <em class="flag-required">*</em>
                            所在地:
                        </label>
                        <div class="col-md-3">
                            <select class="form-control" v-model="data_of_form.AccountProvince" v-on:change="resetCity($event)">
                                <option v-bind:value="province.id" v-for="province in list_of_provinces">
                                    {{province.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select id="inputAccountCity" class="form-control" v-model="data_of_form.AccountCity">
                                <option v-bind:value="city.id" v-for="city in citiesOfSelectedProvince">
                                    {{city.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--目标读者属性:-->
                    <div class="form-group" id="AccountTargetReader" v-on:change="limitCheckBoxLength($event)">
                        <label for="AccountTargetReader" class="col-md-4 control-label">
                            <em class="flag-required">*</em>目标读者属性:
                            <br>
                            <em class="flag-required" style="color: rgb(88, 88, 88);font-size: 10px">
                                (选择最佳的读者人群,系统将作为参考)
                            </em>
                        </label>
                        <div class="col-md-7">
                            <div class="checkbox col-md-6" v-for="reader in list_of_target_readers">
                                <label>
                                    <input type="checkbox" v-model="data_of_form.AccountTargetReader" value="{{reader.id}}">
                                    <span class="checkbox-material"></span>
                                    {{reader.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-md-12" style="text-align: center">
                            <label for="check_agree_terms">
                                <input type="checkbox" id="check_agree_terms" v-model="data_of_form.check_agree_terms">
                                <span style="margin-left: 7.5px">
                                    同意
                                    <a href="/page/others/user_agreement.html" target="_blank" style="color: #2AB5E2">
                                        《封面号自媒体平台用户协议》
                                    </a>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <button id="imgUploadQiniu" type="button">上传图片</button>
                    </div>
                </fieldset>
            </form>
            <div class="my-btn" id="btn_submit_form" v-bind:class="{'available': canSubmit}" v-on:click.stop="submit($event)">
                 提交
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <p><a href="http://www.thecover.cn/aboutUs_about#about" target="_blank">关于我们</a> <a href="http://www.thecover.cn/aboutUs_about#contact" target="_blank">联系我们</a> <a href="http://www.thecover.cn/aboutUs_about#copyright" target="_blank">版权声明</a> <a href="mailto:content@thecover.cn">我要爆料</a> <a href="mailto:biz@thecover.cn">咨询邮箱：biz@thecover.cn</a></p>
    <p>© CopyRight 2016, thecover.cn, Inc.All Rights Reserved. 蜀ICP备15028104号-1 互联网新闻信息服务许可证：5112016001</p>
</footer>
<script src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/scripts/jquery_bootstrap_material_bootstrapDialog_v0722.js"></script>
<script src="https://wapcdn.thecover.cn/fengmianhao/1.0.0/scripts/libs_bluebird_vue_v0722.js"></script>
<script src="./scripts/helpers.js"></script>
<script type="text/javascript">
var form = new Vue({
    el: 'body',
    data: function() {
        return {
            // 初始值
            data_of_form: {
                'PersonName': '', // 真实姓名
                'PersonID': '', // 18位身份证号码
                'PersonPhoneNum': '', // 手机号码
                'AccountName': '', // 封面号名称
                'AccountIntro': '', // 封面号介绍
                'AccountProvince': '', //
                'AccountCity': '', //
                'PersonIDPicture': 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png',
                'StuPicture': 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png',
                'BackgroundImageOfAccount': 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png',
                'AvatarPicture': 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_AvatarPicture.png',
                'PictureAuth': 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png',
                'PictureOrg': 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png',
                'AccountTargetReader': [], // 目标读者属性
                'AccountLabel': [], // 封面号关键词
                'AccountChannel': [], // 封面号领域
                'check_agree_terms': false, // 同意 《封面号自媒体平台用户协议》
                'StuNo': '', // 学生证号
                'University': '' // 学校
            },
            list_of_statelevels: ['国家级', '省部级', '市级', '区县级'],
            list_of_channels: [],
            list_of_provinces: [],
            list_of_target_readers: helpers.LIST_OF_TARGET_READERS,
            validates: {
                PersonName: false,
                PersonID: false,
                PersonPhoneNum: false,
                StuNo: false,
                University: false,
                AccountName: false,
                AccountIntro: false,
                AccountProvince: false,
                AccountCity: false
            }
        }
    },
    computed: {
        type: function() {
            return helpers.LIST_OF_APPLICANT_TYPE[this.getCandidateType()];
        },
        ui_type: function() {
            return this.getCandidateType();
        },
        canSubmit: function() {
            return this.validateForm();
        },
        citiesOfSelectedProvince: function() {
            var self = this;
            var arr = self.list_of_provinces;
            var i;
            for (i = 0; i < self.list_of_provinces.length; ++i) {
                if (arr[i].id == self.data_of_form.AccountProvince) {
                    return arr[i].cities;
                }
            }
        }
    },
    methods: {
        getCandidateType: function() {
            return helpers.getValueFromUrl('type');
        },
        postDataOfForm: function(payload) {
            return helpers.$post(helpers.apis().registerStageThree, payload);
        },
        getChannelList: function() {
            return helpers.$post(helpers.apis().getChannelList, {});
        },
        getProvinceList: function() {
            return helpers.$post(helpers.apis().getProvinceList, {});
        },
        addLabel: function(evt) {
            var labels = this.data_of_form.AccountLabel;
            evt.preventDefault();
            if ($('#AccountKeywords').val().trim().length === 0) {
                return false;
            }
            if (labels.length === 3) {
                return false;
            }
            for (var i = 0; i < labels.length; ++i) {
                console.log(labels[i]);
                if (labels[i] === $('#AccountKeywords').val().trim()) {
                    return false;
                }
            }
            labels.push($('#AccountKeywords').val().trim());
            $('#AccountKeywords').val('');
        },
        rmLabel: function(evt) {
            var labels = this.data_of_form.AccountLabel;
            evt.preventDefault();
            var $em = $(evt.target);
            labels.splice($em.data('label-id'), 1)
        },
        limitCheckBoxLength: function(evt) {
            console.log('limitCheckBoxLength()');
            var curr_len = $('#AccountTargetReader').find('input[type="checkbox"]').filter(':checked').length;
            console.log(curr_len);
            console.log($(evt.target).prop('checked'));
            if (curr_len > 5) {
                return $(evt.target).prop('checked', false);
                //                    return evt.preventDefault();
            }
        },
        resetCity: function(evt) {
            // 当省市都选择时,改选省则重置市
            if (evt.target.value && this.data_of_form.AccountCity) {
                console.log('if');
                this.data_of_form.AccountCity = undefined;
            }
        },
        // check input string length
        validateInputLength: function(evt, min, max) {
            var self = this;
            if (self.hasInited(evt)) {
                if ((min && $(evt.target).val().trim().length < min) || (max && $(evt.target).val().trim().length > max)) {
                    self.validates[$(evt.target).prop("id")] = true;
                    console.log('validateInputLength() ==> false ', 'id: ', $(evt.target).prop("id"), '输入校验不通过,对应的属性', $(evt.target).prop("id"), 'validates值: ', self.validates[$(evt.target).prop("id")]);
                } else {
                    self.validates[$(evt.target).prop("id")] = false;
                }
                return true;
            } else {
                console.log('输入框未初始化');
                return false;
            }
        },
        hasInited: function(evt) {
            console.log('hasInited() ==> ', ($(evt.target).data('inited') === true));
            return ($(evt.target).data('inited') === true);
        },
        initInput: function(evt) {
            console.log('initInput()');
            return $(evt.target).data('inited', true);
        },
        validateForm: function() {
            console.log('validateForm()');
            var self = this;
            var obj = self.data_of_form;
            // 文本校验
            for (var i = 0; i < $('.is-required').length; ++i) {
                if (!$('.is-required').eq(i).data('inited') === true) {
                    console.log($('.is-required').eq(i).prop('id'));
                    $('.is-required').eq(i).addClass('not-fulfilled');
                    return false;
                } else {
                    $('.is-required').eq(i).removeClass('not-fulfilled');
                }
            }
            // 文本校验: 学生证和学校
            if (self.getCandidateType() == 1) {
                if (self.validates.StuNo || self.validates.University) {
                    console.log('表单验证不通过项目--学生证和学校');
                    $('#StuNo').addClass('not-fulfilled');
                    return false;
                } else {
                    $('#StuNo').removeClass('not-fulfilled');
                }
            }
            // 输入的校验
            for (var prop in self.validates) {
                console.log(prop, ' : ', self.validates[prop], '(', typeof self.validates[prop], ')');
                if (self.validates[prop] === true) {
                    console.log('表单验证不通过项目--', prop, 'is ', self.validates[prop]);
                    return false;
                }
            }
            // files
            if (obj.PersonIDPicture === 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png') {
                console.log('表单验证不通过项目--运营者持身份证照片');
                $('#upImg-card').addClass('not-fulfilled');
                return false;
            } else {
                $('#upImg-card').removeClass('not-fulfilled');
            }
            if (obj.BackgroundImageOfAccount === 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png') {
                console.log('表单验证不通过项目--封面号背景图');
                $('#upImg-bg').addClass('not-fulfilled');
                return false;
            } else {
                $('#upImg-bg').removeClass('not-fulfilled');
            }
            if (obj.AvatarPicture === 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_AvatarPicture.png') {
                console.log('表单验证不通过项目--封面号头像');
                $('#upImg-icon').addClass('not-fulfilled');
                return false;
            } else {
                $('#upImg-icon').removeClass('not-fulfilled');
            }
            if (self.getCandidateType() == 1 && obj.StuPicture === 'https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/bg_PersonIDPicture.png') {
                console.log('表单验证不通过项目--持学生证照片');
                $('#upImg-stuinfo').addClass('not-fulfilled');
                return false;
            } else {
                $('#upImg-stuinfo').removeClass('not-fulfilled');
            }
            // 目标读者属性
            if (obj.AccountTargetReader.length < 1) {
                console.log('表单验证不通过项目--目标读者属性');
                $('#AccountTargetReader').addClass('not-fulfilled');
                return false;
            } else {
                $('#AccountTargetReader').removeClass('not-fulfilled');
            }
            if (obj.AccountLabel.length < 1) {
                console.log('表单验证不通过项目--关键词');
                $('#AccountChannel').addClass('not-fulfilled');
                return false;
            } else {
                $('#AccountChannel').removeClass('not-fulfilled');
            }
            // 所在地
            if (!obj.AccountProvince || !obj.AccountCity) {
                console.log('表单验证不通过项目--所在地');
                $('#inputAccountCity').addClass('not-fulfilled');
                return false;
            } else {
                $('#inputAccountCity').removeClass('not-fulfilled');
            }
            // 同意 《封面号自媒体平台用户协议》
            if (obj.check_agree_terms === false) {
                console.log('表单验证不通过项目--同意《封面号自媒体平台用户协议》');
                $('#check_agree_terms').addClass('not-fulfilled');
                return false;
            } else {
                $('#check_agree_terms').removeClass('not-fulfilled');
            }
            //
            return true;
        },
        submit: function(evt) {
            var self = this;
            var obj = self.data_of_form;
            var $btn = $(evt.target);
            if ($btn.hasClass('error') || $btn.hasClass('processing')) {
                return false;
            }
            $btn.addClass('processing');
            var to_be_posted = {
                // 运营主体信息
                proKind: self.getCandidateType(), // 1：学生 2：个人 3：媒体 4：国家机关 5：企业 6：其他
                // 运营者信息
                username: obj.PersonName, // 运营者姓名
                identityNo: obj.PersonID, // 运营者证件号码
                picture: obj.PersonIDPicture, // file:运营者证件照片
                mobile: obj.PersonPhoneNum, // 运营者手机号码
                // 封面号主体信息
                proAccount: obj.AccountName, // 封面号名称
                proBrief: obj.AccountIntro, // 封面号介绍
                proAvatar: obj.AvatarPicture, // file:封面号头像
                proBackground: obj.BackgroundImageOfAccount, // file:封面号背景图
                labelPgc: obj.AccountLabel, // [封面号关键词标签]
                channelPgc: obj.AccountChannel, // 建议频道领域
                province: obj.AccountProvince, // 省
                city: obj.AccountCity, // 城市
                pgc: obj.AccountTargetReader // [目标读者属性]
            };
            // 学生
            if (self.getCandidateType() == 1) {
                to_be_posted.stuNo = obj.StuNo; // 学生证号
                to_be_posted.university = obj.University; // 学校
                to_be_posted.stuPicture = obj.StuPicture; // 持学生证照片
            }
            if (self.validateForm()) {
                self.postDataOfForm({
                    'data': JSON.stringify(to_be_posted)
                }).then(function(result) {
                    console.log('sendCredits() => ', result);
                    $btn.removeClass('processing');
                    return location.replace(helpers.destination_pages.page_review_result + '?result=0');
                }, function(code, msg) {
                    $btn.removeClass('processing');
                    return alert(JSON.stringify(msg));
                });
            } else {
                alert('请完成所有必填项,再提交~');
                console.log(JSON.stringify(form.validates));
                helpers.scrollToElement($('.not-fulfilled').eq(0));
                $btn.removeClass('processing');
            }
        }
    },
    created: function() {
        var self = this;
        var renderPage = function() {
            console.log('renderPage()');
            self.getChannelList().then(function(res) {
                self.list_of_channels = res.data;
            });
            self.getProvinceList().then(function(res) {
                self.list_of_provinces = res;
                console.log('getProvinceList() => ', res)
            });
        };
        renderPage();
    }
});
</script>
</body>

</html>