#logo,
header nav {
    bottom: 0;
    position: absolute
}

#main,
header {
    position: relative
}

#main {
    background-repeat: no-repeat
}

#login_container,
#logo,
header nav {
    position: absolute
}

#btn_login,
nav a {
    text-align: center
}

#page_login {
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    overflow-x: hidden;
    overflow-y: hidden;
}
#page_login #content {
    background-color: transparent;
    padding: 0;
}

header {
    height: 64px;
    padding: 0;
    width: 100%
}

header nav {
    display: block;
    width: auto;
    right: 0
}

#logo {
    width: 120px;
    vertical-align: middle;
    left: 0
}

nav .menu {
    display: inline-block;
    padding: 0 20px;
    opacity: .8;
    float: right;

}
nav .menu.slash {
    padding: 0;
    color: #fff;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
}
nav a {
    height: 100%
}

nav .menu:last-of-type {
    border-right: none
}

nav a {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 36px;
    color: #fff;
    font-size: 13px
}

.slides {
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
}

#main {
    background-color: transparent;
    background-image: url(https://wapcdn.thecover.cn/fengmianhao/1.0.0/img/text-login-slide-1.png);
    background-size: auto;
    background-size: 427px;
    background-position: 15% 40%
}

#login_container {
    width: 360px;
    right: 0;
    top: 25%;
    background-color: rgba(255,255,255,.2);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 5px;
    padding: 25px;
}

#login_container h2 {
    text-align: center;
    margin: 0 auto 25px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.25em;
}

.input-wrapper {
    width: 100%;
    margin-top: 30px;
    position: relative;
    font-size: 15px;
    /*transition: border-bottom-color .2s ease-in;*/
    background-color: rgba(255,255,255,.2);
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 4px;
    max-height: 60px;
    padding: 15px 10px;
}
#input_passwd {
    font-family: monospace;
}
.full-width-input,
.input-wrapper label {
    margin-bottom: 0;
    color: #585858;
    font-size: 15px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    transition: border-bottom-color .2s ease-in;
}

.input-wrapper.error, .input-wrapper.error .full-width-input {
    border-bottom-color: #F74937
}
#login_container input {
    background-color: transparent !important;
    color: white !important;
}
#login_container img {
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    margin-top: -8px;
}
#login_container label {
    color: white;
    left: 40px;
    width: 55px;
    z-index: 10;
}
#login_container .checkbox .checkbox-material .check, #login_container label.checkbox-inline .checkbox-material .check {
    border-color: rgba(255,255,255,0.75);
}

.full-width-input {
    width: 186px;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: bottom;
}
#captcha .full-width-input {
    width: 100px;
    right: 85px;
}
#input_captcha_container {
    border-bottom: none;
    margin-top: 5px;
    text-align: right;
    background-color: transparent;
    border: none;
    padding: 0;
}

#login_container #the_captcha {
    position: relative;
    z-index: 100;
    margin-top: -1px;
    background-color: white;
    border: 1px solid transparent;
    width: 70px;
    height: 30px;
    vertical-align: bottom;
    float: right;
}

#btn_login {
    font-size: 16px;
    line-height: 45px;
    margin-top: 15px;
    color: #fff;
    background-color: #2AB5E2;
    width: 100%;
    border-radius: 4px;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    letter-spacing: .25em;
    background: rgb(62, 96, 250); /* Old browsers */
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(62, 96, 250)),
            color-stop(1, rgb(32, 60, 199))
    );
    background-image: -o-linear-gradient(bottom, rgb(62, 96, 250) 0%, rgb(32, 60, 199) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62, 96, 250) 0%, rgb(32, 60, 199) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62, 96, 250) 0%, rgb(32, 60, 199) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62, 96, 250) 0%, rgb(32, 60, 199) 100%);
    background-image: linear-gradient(to bottom, rgb(62, 96, 250) 0%, rgb(32, 60, 199) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E60FA', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

#btn_login.error {
    background-color: #D5D5D5
}
#btn_login.error:hover {
    cursor: not-allowed;
}
#actions_passwd {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
}

#actions_passwd label {
    user-select: none;
    font-size: 15px;
    width: auto;
}

#login_container a {
    display: block;
    color: #2AB5E2;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
}

.foget-passwd {
    float: right
}

#actions_passwd .checkbox input[type=checkbox]:checked + .checkbox-material .check, #actions_passwd label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
    color: #2AB5E2;
    border-color: #2AB5E2;
}

#actions_passwd .checkbox input[type=checkbox]:checked + .checkbox-material .check:before, #actions_passwd label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #2AB5E2;
}
#actions_passwd .checkbox .checkbox-material .check, #actions_passwd label.checkbox-inline .checkbox-material .check {

}

#actions_passwd .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
}

.captcha-container.hidden {
    display: none !important;
}
#login_error_msg {
    top: 20px;
    color: #f00;
    position: relative;
    line-height: 20px;
    text-align: center;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: rgba(255, 255, 255, 0.6) !important;
    height: 6px;
    width: 6px;
    margin: -3px 0 0 -3px;
}
#fp-nav ul li a.active span {
    background: rgba(255, 255, 255, 0.8) !important;
}

#login_container input:-webkit-autofill,
#login_container input:-webkit-autofill:hover,
#login_container input:-webkit-autofill:focus,
#login_container textarea:-webkit-autofill,
#login_container select:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}
.menu a:hover {
    color: rgb(42, 181, 226);
    text-decoration: none;
}