.data-block:last-of-type:hover,
.wrapper-of-toggle-btns span:hover {
    cursor: pointer
}

.transparent {
    opacity: 0
}

#content,
#table_of_broadcasting tr,
.table-container {
    background-color: #fff
}

#page_dashboard {
    color: #585858
}

#page_dashboard a {
    color: #2AB5E2;
    text-decoration: none
}

#main header {
    line-height: 70px
}

.hidden {
    display: none
}

.data-block,
.data-block .num-with-img>img {
    display: inline-block
}

#content {
    width: 1280px;
    margin-top: 20px;
    padding: 0;
    border-radius: 5px
}

#main {
    width: 1024px;
    padding: 20px;
    background-color: #E6E6E9
}

.data-block-container {
    height: 120px;
    margin-bottom: 20px
}

.data-block {
    position: relative;
    float: left;
    width: 298px;
    height: 120px;
    padding: 15px 35px;
    border-radius: 5px;
    margin-right: 45px;
    color: #fff;
    text-align: center
}

.data-block:last-of-type {
    margin-right: 0
}

.data-block h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 2px solid #fff
}

.data-block .num-with-img {
    font-size: 30px;
    line-height: 58px;
    vertical-align: bottom
}

.data-block .num-with-img>span {
    line-height: 58px
}

#main header {
    height: 55px;
    background-color: #e8faff;
    width: 100%;
    border-bottom: 2px solid #eaeaea
}

#main header h1 {
    position: relative;
    margin-left: 10px;
    font-size: 18px;
    line-height: 53px;
    font-weight: 400
}

.table-container {
    padding-left: 12px;
    padding-right: 12px
}

#table_of_broadcasting tr>td {
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px dashed #A4A4A4;
    color: #585858
}

#table_of_broadcasting .col-of-date {
    color: #A4A4A4
}

.wrapper-of-toggle-btns {
    display: inline-block;
    width: 100px;
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    border-radius: 11px;
    position: absolute;
    right: 0;
    top: 16.5px;
    margin-right: 10px;
    overflow: hidden
}

.wrapper-of-toggle-btns span {
    display: inline-block;
    text-align: center;
    width: 50%;
    float: left;
    color: #a4a4a4;
    background-color: #e5e5e9;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.wrapper-of-toggle-btns span.active:hover {
    cursor: not-allowed
}

.wrapper-of-toggle-btns span.active {
    color: #fff;
    background-color: #2ab6e2
}

.container-dailyStatistics {
    height: 400px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden
}

#chart_container,
.container-dailyStatistics .table-container {
    height: 400px;
    width: 984px
}

.table-container .table td,
.table-container .table th {
    color: #333;
    font-weight: 400;
    text-align: center
}

.table-container .table th {
    background-color: #fff
}

#pagination_news {
    text-align: center
}
