#page_register_form {
    color: #585858
}

#page_register_form .header-of-page {
    width: 100%;
    background-color: white;
}

#page_register_form .header-of-page> div {
    position: relative;
    width: 1280px;
    height: 60px;
    margin: 0 auto;
}

#page_register_form .header-of-page> div img {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
}

#page_register_form #content {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 100px;
}

#page_register_form a {
    color: #2AB5E2;
    text-decoration: none
}

#page_register_form footer a {
    color: white;
}

#main header {
    height: 55px;
    background-color: #e8faff;
    width: 100%;
    border-bottom: 2px solid #eaeaea
}

#main header h1 {
    margin-left: 35px;
    font-size: 18px;
    line-height: 55px;
    font-weight: 400
}

.hidden {
    display: none
}

#content {
    width: 1280px;
    margin-top: 20px;
    padding: 0
}

#stage_indictor {
    position: relative;
    margin: 60px auto;
    height: 50px;
    width: 43.75%
}

#stage_indictor .line {
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    top: 22px;
    background-color: #d9d9d9
}

#stage_indictor .dots {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    user-select: none
}

#stage_indictor .dots:hover {
    cursor: not-allowed;
}

#stage_indictor .dots.active {
    background-color: #2AB5E2;
    color: #fff
}

#stage_indictor .dots.active:after,
.fixed-width-input,
.input-wrapper label {
    color: #585858
}

#stage_indictor #stage_one_dot {
    left: 0
}

#stage_indictor .dots:after {
    display: block;
    position: relative;
    left: -15px;
    top: 15px;
    line-height: 18px;
    font-size: 18px;
    width: 80px;
    height: auto;
    text-align: center
}

#stage_indictor #stage_one_dot:after {
    content: "注册帐号"
}

#stage_indictor #stage_two_dot:after {
    content: "选择类型"
}

#stage_indictor #stage_three_dot:after {
    content: "提交资料"
}

#stage_indictor #stage_two_dot {
    left: 255px
}

#stage_indictor #stage_three_dot {
    right: 0
}

.stages {
    margin: 0 auto;
    width: 1024px;
    padding-top: 50px;
    border-top: 2px solid #FAFAFA;
}

#stage_three, #main_section {
    width: 800px;
}

.input-wrapper {
    width: 100%;
    margin-bottom: 30px;
    height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 15px
}

.input-wrapper.error .fixed-width-input {
    border-bottom-color: #F74937
}

.input-wrapper label {
    width: 120px;
    text-align: right;
    user-select: none
}

.fixed-width-input {
    width: 400px;
    padding: 0 5px;
    border-bottom: 1px solid #C8C8C8;
    transition: border-bottom-color .2s ease-in;
    margin-left: 10px;
    vertical-align: bottom;
    float: right
}

.fixed-width-input:active,
.fixed-width-input:focus,
.fixed-width-input:hover {
    border-bottom: 1px solid #2AB5E2
}

#input_captcha_container {
    float: right;
    width: 300px;
    margin-right: 100px;
}

#input_captcha {
    width: 100px;
    float: none;
    margin-left: 0;
}

#the_captcha {
    width: 70px;
    height: 30px;
    vertical-align: bottom
}

#btn_register,
#btn_submit_form {
    font-size: 16px;
    line-height: 45px;
    margin: 0 auto;
    color: #fff;
    background-color: #2AB5E2;
    border-radius: 4px;
    width: 180px
}

#btn_register.error,
#btn_submit_form {
    background-color: #D5D5D5
}

#btn_submit_form {
    margin: 30px auto;
}

#btn_submit_form.available {
    background-color: #2AB5E2;
}
#stage_three_form fieldset {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}
#stage_three_form fieldset:first-of-type {
    margin-top: 0px;
}
legend {
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-left: 10px;
}
#stage_three_form .form-group {
    margin-top: 20px;
}
#stage_three_form .form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2AB5E2), to(#2AB5E2)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#2AB5E2, #2AB5E2), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#2AB5E2, #2AB5E2), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#2AB5E2, #2AB5E2), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#stage_three_form label, #stage_three_form .form-control {
    color: #585858;
}
#stage_three_form .form-group label.control-label {
    font-size: 18px;
    margin: 4px 0 0 0;
}
em.flag-required {
    color: #f00;
    position: relative;
    right: 5px;
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
}
.container-upload-img {
    position: relative;
    padding: 20px 0px;
    border-radius: 6px;
    min-height: 20px;
    margin-bottom: 20px;
}
.container-upload-img > img {
    display: inline-block;
    width: 50%;
    max-width: 50%;
    height: auto;
    vertical-align: middle;
    margin-right: 20px;
}
.container-upload-img > img.avatar {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#page_register_form .upload-img {
    color: #333;
    vertical-align: top;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
}
.tips-of-uploading {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: 25px;
    font-size: 12px;
    line-height: 18px;
    max-width: 50%;
    display: inline-block;
}
.tips-of-uploading.avatar {
    position: absolute;
    bottom: 0px;
    left: 75px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    max-width: 50%;
    display: inline-block;
}
#inputAccountKeywords {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
#label_area >div {
    min-height: 50px;
    padding: 10px;
}
.label-of-account {
    position: relative;
    display: inline-block;
    word-break: keep-all;
    margin: 0 10px;
    padding: 0px 10px;
    height: 30px;
    width: auto;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: #2AB5E2;
    border-radius: 15px;
}
.close-btn-of-label {
    position: absolute;
    right: -9px;
    top: -9px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: url("http://wapcdn.thecover.cn/fengmianhao/1.0.0/img/icon_rm_tag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.close-btn-of-label:hover {
    cursor: pointer;
}